# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Build / dist
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Project-specific
src/logs/
libs/*.pyd
MainLogger/
/src/business/clac_beat/result/

/src/business/PP_Programs/PP_Routine/calculate_position/
/src/business/PP_Programs/PP_Routine/conv_vision_trigger/
/src/business/PP_Programs/PP_Routine/motor/