CONFIG_HTTPD_WS_SUPPORT=y

# Partition Table Config
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Save IRAM space (Aggressive Optimization)
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_ESP_EVENT_POST_FROM_ISR=n
CONFIG_SPI_FLASH_ROM_DRIVER_PATCH=y

# N16R8 Module Config
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
# Fix: ESP-IDF v5.x uses generic CONFIG_SPIRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
