body {
    background-color: #f0f2f5;
    font-family: 'Noto Sans SC', sans-serif;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
}

.result-container {
    margin-top: 30px;
}

.chart-container {
    margin-top: 40px;
}

.alert-info {
    margin-top: 20px;
    background-color: #e7f3fe;
    border-color: #b3d7f7;
    color: #31708f;
}

.table-responsive {
    margin-top: 20px;
}

.btn-primary, .btn-success {
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.form-label {
    font-weight: 500;
}

.form-control {
    border-radius: 10px;
}

.chart-container h4 {
    font-weight: 500;
    color: #343a40;
    display: none; /* 默认隐藏图表标题 */
}

#download-link-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
